@font-face { font-family: AstheticPixel; src: url('fonts/AstheticPixel-Regular.otf'); } 
@font-face { font-family: VPPixel; src: url('fonts/VPPixel-Simplified.otf'); } 

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* colors */
:root {
  --ef-bg: #1E2326;
  --ef-fg: #D3C6AA;
  --ef-aqua: #83C092;
  --ef-orange: #E69875;
}


.center {
  margin: auto;
  width: 65%;
}

body {
  background-color: var(--ef-bg);
}

p, h2 {
  color: var(--ef-fg);
}

#title {
  font-size: 200%;
  font-family: AstheticPixel;
  padding-bottom: 5px;
  padding-top: 10px
}

hr {
  height: 1px;
  color: var(--ef-fg);
  background-color: var(--ef-fg);
}
