@font-face { font-family: AstheticPixel; src: url('fonts/AstheticPixel-Regular.otf'); } 
@font-face { font-family: VPPixel; src: url('fonts/VPPixel-Simplified.otf'); } 

/* colors */
:root {
  --ef-bg: #232A2E;
  --ef-fg: #D3C6AA;
  --ef-aqua: #83C092;
  --ef-orange: #E69875;
}


body {
  background-color: var(--ef-bg);
}

p {
  color: var(--ef-fg);
}
