@font-face { font-family: AstheticPixel; src: url('fonts/AstheticPixel-Regular.otf'); } 
@font-face { font-family: VPPixel; src: url('fonts/VPPixel-Simplified.otf'); } 
@font-face { font-family: Kode; src: url('fonts/KodeMono-VariableFont_wght.ttf'); } 

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* colors */
:root {
  --ef-bg: #271424;
  --ef-fg: #c7aad3;
  --ef-aqua: #83C092;
  --ef-orange: #E69875;
}


.center {
  margin: auto;
}

.center h2, h1, p, div{
  text-align: center;
}

.lines {
  border-top: 2px solid var(--ef-fg);
  border-bottom: 2px solid var(--ef-fg);
}

body {
  background-image: url("img/bg.png");
  background-repeat: repeat;
  animation: move-bg 3.5s linear infinite;
}

@keyframes move-bg {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -200px 200px;
  }
}

p, h2, li, h1, a, div{
  color: var(--ef-fg);
  font-family: Helvetica;
}

.container {
  margin-top: 2.5%;
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main {
  width: 50%;
}

.nav {
  width: 15%;
}

.box {
  border: 3px solid var(--ef-fg);
  background-color:var(--ef-bg);
  padding: 5%;
  padding-top: 0%;
}

.title {
  margin-top: 5%;
  font-size: 250%;
  font-family: Arial;
  font-weight: lighter;
  margin-bottom: 5%;
}


hr {
  height: 2px;
  outline: 0px;
  color: var(--ef-fg);
  border: none;
  background-color: var(--ef-fg);
  
}
